<div class="bg-img">
<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>eco</mat-icon>PESTICIDES</span>
    <div class="spacer"></div>
    <a mat-button  routerLink="/home" (click)="onHomeClick()">Home</a>
    <a mat-button  routerLink="/aboutus" >Aboutus</a>
    <a mat-button routerLink="/contactus">Contactus</a>
    <a mat-button  routerLink="/news" >uses</a>
    <a mat-button  routerLink="/updates" >Updates</a>
    
      <button href="project"  class="btn btn-primary">Logout</button>
</mat-toolbar>
<body>
<h1>PESTICIDES</h1>
<p class="text">Pesticides are chemical compounds that are used to kill pests, including insects, rodents, fungi and unwanted plants (weeds). 
    Over 1000 different pesticides are used around the world. Pesticides are used in public health to kill vectors of disease,<span class="moreText"> such as mosquitoes, and in agriculture to kill pests that damage crops.<br>
    Examples of pesticides are fungicides, herbicides, and insecticides. 
    Examples of specific synthetic chemical pesticides are glyphosate, Acephate, Deet, Propoxur, Metaldehyde, Boric Acid, Diazinon, 
    Dursban, DDT, Malathion, etc.
    Pesticides kill, repel, or control forms of animal and plant life considered to damage or be a nuisance in agriculture and domestic life. Used broadly, the term includes these types of chemicals:
    Herbicides destroy or control weeds and other unwanted vegetation. They are commonly used on lawns.
    Insecticides kill or control insects. They are used in agriculture, industry, businesses, and households.
    Fungicides control fungi and can be used on plants or other surfaces where mold or mildew grow. 
    They may also have a role in protecting crops.</span></p>
    <button class="read-more-btn">Read More</button>
</body>
</div>
























