<div class="bg-img">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span><mat-icon>eco</mat-icon>PESTICIDES</span>
        <div class="spacer"></div>
        <a mat-button  routerLink="/home">Home</a>
        <a mat-button  routerLink="/aboutus" >Aboutus</a>
        <a mat-button routerLink="/contactus">Contactus</a>
        <a mat-button  routerLink="/news" >uses</a>
        <a mat-button  routerLink="/updates" >Updates</a>
        
          <button href="project" routerLink="/project"  class="btn btn-primary">Logout</button>
    </mat-toolbar>
<div class="bg-img">
<div class="name1">
<h1><b>TYPES OF PESTICIDES</b></h1>
</div>
<div class="name">

<div class="card text-white bg-primary mb-3" style="max-width: 25rem; max-height: 40rem;">
    <div class="card-header">INSECTICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Insects</h5>
      <p class="card-text">Insecticides are chemicals used to control insects by killing them or preventing them from engaging in undesirable or destructive behaviors. They are classified based on their structure and mode of action.<br>
        Insecticides to control insects. Insect Growth Regulators to disrupt the growth and reproduction of insects. Rodenticides to kills rodents like mice, rats, and gophers. Wood Preservatives to make wood resistant to insects, fungus and other pests.
      </p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 25rem; max-height: 40rem;">
    <div class="card-header">HERBICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Plants</h5>
      <p class="card-text">Herbicides are chemicals used to manipulate or control undesirable vegetation. Herbicide application occurs most frequently in row-crop farming, where they are applied before or during planting to maximize crop productivity by minimizing other vegetation.<br>
        Herbicides get rid of weeds that would otherwise compete for light, moisture, and nutrients with the crops, affecting the quality and quantity of produce. They can also interfere with and damage harvesting.</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 25rem; max-height: 40rem;">
    <div class="card-header">RODENTICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Rodens(rats&mice)</h5>
      <p class="card-text">Rodenticides are pesticides that kill rodents. Rodents include not only rats and mice, but also squirrels, woodchucks, chipmunks, porcupines, nutria, and beavers. Although rodents play important roles in nature, they may sometimes require control.<br>
        Rodenticides are pesticides that kill rodents, including mice and rats. They are often formulated as baits with attractive substances like peanut butter or molasses. Rodenticide baits can provide short-term control</p>
    </div>
  </div>
  </div>
  <div class="name1"></div>
  
  <div class="name">
  <div class="card text-white bg-danger mb-3" style="max-width: 25rem; max-height: 40rem;">
    <div class="card-header">BACTERICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Bacteria</h5>
      <p class="card-text">Bacteria are microbes with a cell structure simpler than that of many other organisms. Their control centre, containing the genetic information, is contained in a single loop of DNA. Some bacteria have an extra circle of genetic material called a plasmid rather than a nucleus. The plasmid often contains genes that give the bacterium some advantage over other bacteria</p>
    </div>
  </div>
  <div class="card text-dark bg-warning mb-3" style="max-width: 25rem; max-height: 40rem;">
    <div class="card-header">FUNGICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Fungi</h5>
      <p class="card-text">Fungicides are pesticides that kill or prevent the growth of fungi and their spores. They can be used to control fungi that damage plants, including rusts, mildews and blights. They might also be used to control mold and mildew in other settings.Fungicides are pesticides used to kill parasitic fungi or their spores. They are most commonly chemical compounds.</p>
    </div>
  </div>
  <div class="card text-dark bg-info mb-3" style="max-width: 25rem;max-height: 40rem;">
    <div class="card-header">LARVICIDES</div>
    <div class="card-body">
      <h5 class="card-title">Larvae</h5>
      <p class="card-text">A larvicide is a type of insecticide used to control mosquitoes indoors and outdoors around your home. They work by killing mosquito larvae before they can grow into adults. Some formulations are activated when ingested by the mosquitoes, and some formulations work when they come into contact with the larvae.</p>
    </div>
  </div>
  </div>
  </div>
  