<div class="bg-img">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span><mat-icon>eco</mat-icon>PESTICIDES</span>
        <div class="spacer"></div>
        <a mat-button  routerLink="/home">Home</a>
        <a mat-button  routerLink="/aboutus" >Aboutus</a>
        <a mat-button routerLink="/contactus">Contactus</a>
        <a mat-button  routerLink="/news" >uses</a>
        <a mat-button  routerLink="/updates" >Updates</a>
        
          <button href="project"  class="btn btn-primary" routerLink="/project">Logout</button>
    </mat-toolbar>
    <section class="pt-5 pb-5">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <h3 class="mb-3"><b>USES OF PESTICIDES</b> </h3>
              </div>
              <div class="col-6 text-right">
                  <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                      <i class="fa fa-arrow-left"></i>
                  </a>
                  <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                      <i class="fa fa-arrow-right"></i>
                  </a>
              </div>
              <div class="col-12">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
  
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row">
  
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://englishtribuneimages.blob.core.windows.net/gallary-content/2022/9/2022_9$largeimg_354462611.JPG">
                                          <div class="card-body">
                                              <h4 class="card-title">Algaecides</h4>
                                              <p class="card-text">to kill and/or slowing the growth of algae.Pesticides are used to control organisms that are considered to be harmful, or pernicious to their surroundings.<br>
                                              </p>
  
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://www.niehs.nih.gov/health/assets/images/pesticides_og.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Antimicrobials </h4>
                                              <p class="card-text">to control germs and microbes such as bacteria and viruses.they are used to kill mosquitoes that can transmit potentially deadly diseases like West Nile virus, yellow fever, and malaria.They can also kill bees, wasps or ants that can cause allergic reactions.</p>
  
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://vir.com.vn/stores/news_dataimages/kimoanh/092018/12/14/in_article/pesticides-plays-an-important-role-in-promote-modern-agriculture.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Disinfectants </h4>
                                              <p class="card-text">to control germs and microbes such as bacteria and viruses.Insecticides can protect animals from illnesses that can be caused by parasites such as fleas.</p>
  
                                          </div>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
  
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://www.humicchina.com/wp-content/uploads/2019/11/potassium-humate-flakes-powder-Uses-No-848x480.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Fungicides </h4>
                                              <p class="card-text">to control fungal problems like molds, mildew, and rust.Pesticides can prevent sickness in humans that could be caused by moldy food or diseased produce.  Herbicides can be used to clear roadside weeds, trees, and brush.</p>
  
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://images.squarespace-cdn.com/content/v1/58427ce303596e3099e40044/1604141019066-81UGYM5KA7LG43E7KN8D/Untitled_design_1_.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Herbicides</h4>
                                              <p class="card-text">to kill or inhibit the growth of unwanted plants, also known as weeds.They can also kill invasive weeds </p>
  
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://d1otjdv2bf0507.cloudfront.net/images/Article_Images/ImageForArticle_5829_16335955239895057.jpg">                                         
                                          <div class="card-body">
                                              <h4 class="card-title">Insect Growth Regulators</h4>
                                              <p class="card-text"> to disrupt the growth and reproduction of insects.They can also kill invasive weeds that may cause environmental damage. Herbicides are commonly applied in ponds and lakes to control algae and plants such as water
                                              </p>
  
                                          </div>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                          <div class="carousel-item">
                              <div class="row">
  
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://149828952.v2.pressablecdn.com/wp-content/uploads/2017/03/weedkiller.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Rodenticides</h4>
                                              <p class="card-text">to kills rodents like mice, rats, and gophers.grasses that can interfere with activities like swimming and fishing and cause the water to look or smell unpleasant. Uncontrolled pests such as termites and mold can damage structures such as houses.</p>
  
                                          </div>
  
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://www.cropscience.bayer.us/-/media/Bayer-CropScience/Country-United-States-Internet/Images/Learning-Center/Articles/Choosing-Right-Herbicides-HERO.ashx">
                                          <div class="card-body">
                                              <h4 class="card-title">Insecticides</h4>
                                              <p class="card-text">to control insects.Pesticides are used in grocery stores and food storage facilities to manage rodents and insects that infest food such as grain. Each use of a pesticide carries some associated risk.</p>
  
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                      <div class="card">
                                          <img class="img-fluid" alt="100%x280" src="https://d3qz1qhhp9wxfa.cloudfront.net/growingproduce/wp-content/uploads/2019/11/Alternaria_solani_featured.jpg">
                                          <div class="card-body">
                                              <h4 class="card-title">Wood Preservatives</h4>
                                              <p class="card-text">to make wood resistant to insects, fungus and other pests.Proper pesticide use decreases these associated risks to a level deemed acceptable by pesticide regulatory agencies such as the United States Environmental Protection Agency (EPA) and the Pest Management Regulatory Agency (PMRA) of Canada.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
