<div class="bg-img">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span><mat-icon>eco</mat-icon>PESTICIDES</span>
        <div class="spacer"></div>
        <a mat-button  routerLink="/home">Home</a>
        <a mat-button  routerLink="/aboutus" >Aboutus</a>
        <a mat-button routerLink="/contactus">Contactus</a>
        <a mat-button  routerLink="/news" >uses</a>
        <a mat-button  routerLink="/updates" >Updates</a>
        
          <button href="project"  class="btn btn-primary" routerLink="/project">Logout</button>
    </mat-toolbar>

    <h1>Pesticide residues in food</h1>
  <p>  Some of the older, less costly pesticides can remain for years in soil and water.Many of these chemicals have been banned from agricultural use in developed countries, but they are still used in many developing countries.
Pesticides play a significant role in food production.They protect or increase yields and may increase the number of times each year a crop can be grown on the same land.This is particularly important in countries that face food shortages.
To protect food consumers from the adverse effects of pesticides WHO reviews evidence and develops internationally-accepted maximum residue limits.
Pesticides are used to protect crops against insects, weeds, fungi and other pests.
Pesticides are potentially toxic to humans and can have both acute and chronic health effects, depending on the quantity and ways in which a person is exposed.
People who face the greatest health risks from exposure to pesticides are those who come into contact with them at work, in their home or garden.</p>
<h2>Overview</h2>
<p>There are more than 1000 pesticides used around the world to ensure food is not damaged or destroyed by pests. Each pesticide has different properties and toxicological effects.

Many of the older, less costly (off-patent) pesticides, such as dichlorodiphenyltrichloroethane (DDT) and lindane, can remain for years in soil and water. These chemicals have been banned by countries which signed the 2001 Stockholm Convention, an international treaty that aims to eliminate or restrict the production and use of persistent organic pollutants.

The toxicity of a pesticide depends on its function and other factors. For example, insecticides tend to be more toxic to humans than herbicides. The same chemical can have different effects at different doses, that is, the amount of chemical to which a person is exposed. Toxicity can also depend on the route by which the exposure occurs, such as by swallowing, inhaling or direct contact with the skin.

None of the pesticides currently authorized for use on food in international trade are genotoxic (damaging to DNA, which can cause mutations or cancer). Adverse effects from these pesticides occur only above a certain safe level of exposure. When people come into contact with large quantities of pesticide, the result may be acute poisoning or long-term health effects that may include cancer and adverse effects on reproduction.
</p><div class="image">
<img align="center" src="https://feeds.abplive.com/onecms/images/uploaded-images/2022/08/05/3e78af571635774014d4914a66391e751659680700_original.jpg?impolicy=abp_cdn&imwidth=650" width="500" height="300">

<img align="center" src="https://www.researchgate.net/publication/277780440/figure/fig2/AS:267518715625500@1440792840236/Pie-charts-showing-distribution-of-A-organism-of-study-B-methodology-used-in-study.png" width="500" height="300">


<img align="center" src="https://www.en.krishakjagat.org/wp-content/uploads/2022/11/Untitled-1-116-800x445.jpg" width="500" height="300">




</div><h2>Prevention and control</h2>
<p>Nobody should be exposed to unsafe amounts of pesticide.

People spreading pesticide on crops, in homes or in gardens should be adequately protected. People not directly involved in the spreading of pesticides should stay away from the area while spreading takes place, and for some time afterwards.

Food that is sold or donated (such as food aid) should equally comply with pesticide regulations, in particular with maximum residue limits. People who use pesticides when growing their own food should follow instructions for use and protect themselves by wearing gloves and face masks as necessary.

Consumers can further limit their intake of pesticide residues by peeling or washing fruit and vegetables, which also reduces other foodborne hazards such as harmful bacteria.</p>
<h2>Global Impact</h2>
<p>The United Nations Population Division estimates that by the year 2050 there will be 9.7 billion people on Earth – around 30% more people than in 2017. Nearly all of this population growth will occur in developing countries.

  The Food and Agriculture Organization of the United Nations (FAO) estimates that in developing countries, 80% of the increase in food production needed to keep pace with population growth, is projected to come from either increases in yields and/or the number of times each year crops can be grown on the same land. Only 20% of extra food production is expected to result from an expansion of farming land.
  
  Pesticides can prevent large crop losses and will therefore continue to play a role in agriculture. However, the effects of exposure to pesticides on humans and the environment are a continuing concern.
  
  The use of pesticides to produce food, both to feed local populations and for export, should comply with good agricultural practices regardless of the economic status of a country. Farmers should limit the amount of pesticide used to the minimum necessary to protect their crops.
  
  It is also possible, under certain circumstances, to produce food without the use of pesticides.</p>