<div class="bg-img">
<h1>Narasaraopeta Engineering College</h1><br>
<h5>Department of Computer Science and Engineering</h5><br>
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <button mat-raised-button color="warn"><a routerLink="signup" (click)="onSignupClick()">Sign up</a></button>
      <button mat-raised-button color="accent"><a routerLink="signin" (click)="onSigninClick()">Sign in</a></button>
    </div>
  </section>
  <mat-divider></mat-divider>
  <img align="center" src="../assets/img/n.jpg"  >
  <h2>Community Service Project</h2>
  <h3>ON</h3>
  <h4> Reducing Agricultural pesticides to improve Human Life Span</h4>
  <h6>TEAM MEMBERS</h6>
  <p>G.Thanuja<br>
  Y.Sandhya<br>
  Sk.Sameera<br>
  S.Bhavani<br>
  V.Sireesha<br>
  T.Suma Durga</p>
  </div>

  
