
<div class="bg-img">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <span><mat-icon>eco</mat-icon>PESTICIDES</span>
        <div class="spacer"></div>
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/aboutus">Aboutus</a>
        <a mat-button routerLink="/contactus">Contactus</a>
        <a mat-button routerLink="/news">uses</a>
        <a mat-button routerLink="/updates">Updates</a>
        
        <button href="/project" class="btn btn-primary" routerLink="/project">Logout</button>
    </mat-toolbar>
    <div class="name">
      <h1><marquee><b>IF ANY HELP YOU WANT PLEASE CALL OR MAIL THE BELOW GIVEN</b></marquee></h1>
<div class="container">
    <div class="row">
    <div class="card col-md-3 " style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">THANUJA</h5>
          <p class="card-text">NAME:GATTU.THANUJA</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            gattuthanuja23<br>
            @gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             9398763937
          </a>
        </div>
      </div>
      
      <div class="card text-center col-md-3 offset-md-3" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">SAMEERA</h5>
          <p class="card-text">NAME:SHAIK.SAMEERA</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            shaiksameera555<br>
            @gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             8885419650
          </a>

          
        </div>
      </div>
      
      <div class="card text-end col-md-3 offset-md-3" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">BHAVANI</h5>
          <p class="card-text">NAME:SANNITHI.BHAVANI</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            sannithibhavani33<br>
            @gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             7793941601
          </a>
        </div>
      </div>
</div>
</div>
<div class="container">
    <div class="row">
    <div class="card col-md-3 " style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">SANDHAYA</h5>
          <p class="card-text">NAME:YADALA.SANDHAYA</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            sandhyayadala165<br>@gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             9100193465
          </a>
        </div>
      </div>
      
      <div class="card text-center col-md-3 offset-md-3" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">SIREESHA</h5>
          <p class="card-text">NAME:VEMULA.SIREESHA</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            vsireesha910<br>@gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             8125856938
          </a>

          
        </div>
      </div>
      
      <div class="card text-end col-md-3 offset-md-3" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title">BHAVANI</h5>
          <p class="card-text">NAME:T.SUMADURGA</p>
          <a href="mailto:principal@nec.in" class="navbar-brand">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            sumadurgatalapaneni<br>@gmail.com
          </a>
          <a href="tel:8121466114" class="navbar-brand justify-content-end">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
             7569880294
          </a>
        </div>
      </div>
</div>
</div>
</div>
    
    
